*{
    padding:0;
    margin: 0;
}
body{
    width: 100%;
    height: 80%;
    background-size: cover;
    background: #cccccc url("image/hotel.jpg") center;
    background-position: center;
}
.general_table {
    width: 56%;
    margin: 50px auto;
    background: #f8e1f3;
    border: 5px solid #255;
    border-collapse: collapse;
}
.minor_table {
    width: 15%;
    bottom: 25%;
    right: 82%;
    background: #f8f8f8;
    position: absolute;
}

#price {
    font-family: Tahoma, sans-serif;
    font-size: x-large;
}

header {
    width: 20%;
    height: 27px;
    position: fixed;
    background-color: #f8f8f8;
    top: 0;
    left: 0;

}

footer {
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;

}

th {
    font-family: Tahoma, sans-serif;
    background: #E1E6FF;
    padding: 20px;
}
td {
    font-family: cursive, sans-serif;
    padding: 10px;
    border: 3px solid #b0d6eb;
}

#td-centre{
    align-content: center;
    font-size: medium;
}

input[type=submit]{
    width: 10em;
    height: 2em;
}
.wrong{
    color: red;
}

.errormessage{
    font-family: Tahoma, sans-serif;
    font-size: x-large;
    color: red;
}
#change_language{
    position: fixed;
    top: 5%;
    left: 1%;
}
#change_language_button{
    position: fixed;
    width: 7em;
    height: 2em;

}

#back_button{
    position: fixed;
    width: 15em;
    height: 2em;
    bottom: 5%;
    left: 1%
}
button[type=submit]{
    width: 10em;
    height: 2em;
}
.info_message {
    color: #f6f8f6;
    font-size: x-large;
}

.line_with_id{
    background-color: cornflowerblue;
}

.message{
    border: 1px solid red;
    padding: 10px;
}

